 body{

  background-image:url(./IN-en-20220912-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
} 
#LOGO
{
  position: absolute;
  margin-left: 17%;
}


#mainBox{
  padding: 20px;
  position: absolute;
  margin-top:20%;
  margin-left: 37%;
  background-color: black;
  
}
  #navbar{
    position: relative;
    margin-bottom: 10%;
  }
  #Footer{
    padding:5px;
    float: left;
    width:100%;
    
    color: red;
    position:relative;
    margin-top:50%;
    background-color: black;
  }
  #md{
    padding:2px;
    text-decoration:underline;
    position: relative;
    margin-left:43%;
  }